<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>near person</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style media="screen">
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
</style>

  </head>
  <body>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <h4>John's Blog</h4>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section1">Home</a></li>
            <li><a href="#section2">Friends</a></li>
            <li><a href="#section3">Family</a></li>
            <li><a href="#section3">Photos</a></li>
          </ul><br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Blog..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>

        <div class="col-sm-9 scrollit">
          {{# if result}}
             {{#each result}}
              <a href='/profileInfo/{{this._id}}'>
             <div class="col-sm-2 text-center">
               <img src="/static/images/{{this.imageUrl}}" class="img-circle" height="65" width="65" alt="Avatar">
               <h4><small>{{this.name}}</small></h4>
             </div>
  </a>

            <div class="row">

          <hr>
          <h2>{{this.title}}</h2>
          <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dae.{{this.postDate}}</h5>
          <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
          <img src='/static/images/{{this.imageUrl}}' width='250' heigth='250' align="center"/ >
          <p>Food is my passion. Lorem ipsum dolor {{this.content}}</p>
          <br><br>
          <h4>Leave a Comment:</h4>
          <form  action='/comment/{{this._id}}' method='post' >
            <div class="form-group">
              <textarea class="form-control" rows="3" name='comment'></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
          <br><br>

          <p><span class="badge">2</span> Comments:</p><br>
          {{#if this.comments}}
          {{#each this.comments}}
          <div class="row">
                <!-- <div class="col-sm-2 text-center">
                  <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                </div> -->
                <div class="col-sm-10">
                  <h4>Anja <small>{{this.time}}</small></h4>
                  <p>{{this.comment}}</p>
                  <br>
                </div>
              </div>
              {{/each}}
              {{/if}}

        </div>

        {{/each}}
        {{/if}}
      </div>
      </div>
    </div>

  </body>
</html>
